[Unit]
Description=gunicorn daemon for Django project your_project_name
After=network.target
[Service]
User=gunicorn
Group=gunicorn
WorkingDirectory=/var/www/projects/your_project_name/
ExecStart=/var/www/projects/your_project_name/.venv/bin/gunicorn --pythonpath /var/www/projects/your_project_name/ --bind 0.0.0.0:8000 --workers 4 todo.wsgi:application
[Install]
WantedBy=multi-user.target