[Unit]
Description=SSH Agent for read-only deployment
[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
ExecStartPost=/usr/bin/ssh-add /etc/ssh-agent-service/deploy-keys/deploy_key_ed25519
[Install]
WantedBy=default.target